
.DS_Store
src/.DS_Store
src/android/.DS_Store
.idea/.idea.AMR-CORDOVA-PLUGIN.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.AMR-CORDOVA-PLUGIN.dir/.idea/workspace.xml
.idea/.name
.idea/dataSources.local.xml
.idea/vcs.xml
.idea/workspace.xml
