<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        id="cordova-plugin-zzzamr"
        version="1.4.1">

    <name>Cordova AMR Plugin</name>
	<description>Admost Mediation Router plugin.</description>
	<author>Kokteyl</author>
	<license></license>
	<keywords>admob, google, cordova-ios, cordova-android, ecosystem:cordova, android, ios, money, monetization, play, win, earn, publicity, advertisment, advertising, ads, ad, eclipse, android studio, cordova-amr, amr</keywords>
    <repo>https://github.com/admost/AMR-CORDOVA-PLUGIN.git</repo>
    <issue>https://github.com/admost/AMR-CORDOVA-PLUGIN/issues</issue>

	<engines>
	    <engine name="cordova" version=">=8.0.0" />
	</engines>

    <js-module src="www/Amr.js" name="Amr">
        <clobbers target="window.plugins.Amr" />
    </js-module>


    <!-- android -->
    <platform name="android">
        <framework src="src/android/gradle/amr.gradle" custom="true" type="gradleReference" />

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:enabled="true" android:exported="true" android:name="com.amr.cordova.Amr$EventListener">
                <intent-filter>
                    <action android:name="com.amr.plugin.cordova.CALLBACK" />
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.amr.plugin.cordova.AmrAdActivity"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
                android:process=":adprocess"
                android:multiprocess="true"
                android:exported="true"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />

                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </activity>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="Amr">
                <param name="android-package" value="com.amr.cordova.Amr"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

    	<source-file src="src/android/com/amr/cordova/Amr.java" target-dir="app/src/main/java/com/amr/cordova" />
     </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Amr">
                <param name="ios-package" value="CDVAmr" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>

        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSExceptionDomains</key>
                <dict>
                    <key>admost.com</key>
                    <dict>
                        <key>NSExceptionAllowsInsecureHTTPLoads</key>
                        <true/>
                        <key>NSIncludesSubdomains</key>
                        <true/>
                    </dict>
                </dict>
            </dict>
        </config-file>

        <config-file target="*-Info.plist" parent="NSCalendarsUsageDescription">
            <string>Some ad content may access calendar</string>
        </config-file>

        <config-file target="*-Info.plist" parent="GADIsAdManagerApp">
            <true />
        </config-file>

        <config-file target="*-Info.plist" parent="NSUserTrackingUsageDescription">
            <string>This identifier will be used to deliver personalized ads to you.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="SKAdNetworkItems">
            <array>
                <!-- Google Admob -->
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>cstr6suwn9.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>4fzdc2evr5.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>2fnua5tdw4.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>ydx93a7ass.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>5a6flpkh64.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>p78axxw29g.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>v72qych5uu.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>c6k4g5qg8m.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>s39g8k73mm.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>3qy4746246.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>3sh42y64q3.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>f38h382jlk.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>hs6bdukanm.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>prcb7njmu6.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>v4nxqhlyqp.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>wzmmz9fp6w.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>yclnxrl5pm.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>t38b2kh725.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>7ug5zh24hu.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>9rd848q2bz.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>n6fk4nfna4.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>kbd757ywx3.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>9t245vhmpl.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>4468km3ulz.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>2u9pt9hc89.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>8s468mfl3y.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>av6w8kgt66.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>klf5c3l5u5.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>ppxm28t8ap.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>424m5254lk.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>uw77j35x4d.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>578prtvx9j.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>4dzt52r2t5.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>e5fvkxwrpn.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>8c4e2ghe7u.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>zq492l623r.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>3qcr597p9d.skadnetwork</string>
                </dict>
                <!-- facebook -->
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>v9wttpbfk9.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>n38lu8286q.skadnetwork</string>
                </dict>
                <!-- Unity -->
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>wg4vff78zm.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>yclnxrl5pm.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>5a6flpkh64.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>bvpn9ufa9b.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>44jx6755aq.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>zq492l623r.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>f73kdq92p3.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>3rd42ekr43.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>ppxm28t8ap.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>av6w8kgt66.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>9t245vhmpl.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>424m5254lk.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>x44k69ngh6.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>zmvfpc5aq8.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>c6k4g5qg8m.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>t38b2kh725.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>4fzdc2evr5.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>wzmmz9fp6w.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>8s468mfl3y.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>mlmmfzh3r3.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>tl55sbb4fm.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>2u9pt9hc89.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>glqzh8vgby.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>488r3q3dtq.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>4468km3ulz.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>9rd848q2bz.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>22mmun2rn5.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>4dzt52r2t5.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>32z4fx6l9h.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>3qy4746246.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>f7s53z58qe.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>ydx93a7ass.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>cstr6suwn9.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>lr83yxwka7.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>f38h382jlk.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>5lm9lj6jb7.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>kbd757ywx3.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>s39g8k73mm.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>578prtvx9j.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>prcb7njmu6.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>3sh42y64q3.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>7ug5zh24hu.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>4pfyvq9l8r.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>m8dbw4sv7c.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>238da6jt44.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>v72qych5uu.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>w9q455wk68.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>k674qkevps.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>hs6bdukanm.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>mp6xlyr22a.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>5tjdwbrq8w.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>v79kvwwj4g.skadnetwork</string>
                </dict>
                <!-- Iron Source -->
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>su67r6k2v3.skadnetwork</string>
                </dict>
            </array>
        </config-file>

        <header-file src="src/ios/CDVAmr.h" />
        <source-file src="src/ios/CDVAmr.m" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods>
                <pod name="AMRAdapterAdmob" spec="~> 9.12" />
                <pod name="AMRAdapterAdmost" spec="~> 1.6" />
                <pod name="AMRAdapterApplovin" spec="~> 11.5" />
                <pod name="AMRAdapterFacebook" spec="~> 6.12" />
                <pod name="AMRAdapterIronsource" spec="~> 7.2" />
                <pod name="AMRAdapterUnity" spec="~> 4.4" />
            </pods>
        </podspec>
    </platform>
</plugin>
