<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        id="cordova-plugin-amr"
        version="1.0.0">
      
    <name>Cordova AMR Plugin</name>
	<description>Admost Mediation Router plugin.</description>
	<author>Kokteyl</author>
	<license></license>
	<keywords>admob, google, cordova-ios, cordova-android, ecosystem:cordova, android, ios, money, monetization, play, win, earn, publicity, advertisment, advertising, ads, ad, eclipse, android studio, cordova-amr, amr</keywords>
    <repo>https://github.com/admost/AMR-CORDOVA-PLUGIN.git</repo>
    <issue>https://github.com/admost/AMR-CORDOVA-PLUGIN/issues</issue>

	<engines>
	    <engine name="cordova" version=">=8.0.0" />
	</engines>

    <js-module src="www/Amr.js" name="Amr">
        <clobbers target="window.plugins.Amr" />
    </js-module>

	
    <!-- android -->
    <!-- android, now build with gradle instead of ant -->
    <platform name="android">
        <framework src="com.android.volley:volley:1.0.0"/>
        <framework src="com.admost.sdk:amr:1.6.8" target="libs/admost-sdk.1.6.8.aar" />
        <framework src="com.google.android.gms:play-services-base:15.0.1"/>
        <framework src="com.google.android.gms:play-services-ads:15.0.1"/>
        <framework src="com.android.support:recyclerview-v7:27.1.1"/>
        <framework src="com.admost.sdk:applovin:8.0.1"/>
        <framework src="com.mopub:mopub-sdk:5.1.0@aar"/>
        <framework src="com.android.support:multidex:1.0.3"/>
        <framework src="com.admost.sdk:facebook:4.28.2"/>
        <framework src="com.admost.sdk:ironsource:6.7.9"/>
        <framework src="com.admost.sdk:tapjoy:11.12.2"/>
        <framework src="com.admost.sdk:unity:2.2.1"/>
        <framework src="com.google.android.exoplayer:exoplayer:r2.0.0"/>
        <framework src="src/android/gradle/amr.gradle" custom="true" type="gradleReference" />
        
        <application
            android:name="android.support.multidex.MultiDexApplication" >
        </application>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        
                <meta-data android:name="applovin.sdk.key"
                android:value="rrHrVw6oQRRWJBoH5M_4GkBPhapSzMToCqchlkT99vgS5SlAqkE4SQU80Ibzf8mszNXh50sFwXh0_QAp9PucrM"  />
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/*">
		    <uses-permission android:name="android.permission.INTERNET"/>
		    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
             <uses-permission android:name="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"/>
		  </config-file>

		<config-file target="res/xml/config.xml" parent="/*">
		    <feature name="Amr">
			<param name="android-package" value="com.amr.cordova.Amr"/>
			<param name="onload" value="true" />
		    </feature>
		</config-file>
		<source-file src="src/android/Amr.java" target-dir="src/com/amr/cordova" />

        <!-- cordova CLI using gradle and it's working well 
        <framework src="com.google.android.gms:play-services-ads:+" /> -->
        <!-- but unfortunately, build.phonegap.com, Intel XDK, and some other tools still use ant -->
        <!-- dependency id="cordova-plugin-googleplayservices"/ -->
     </platform>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Amr">
                <param name="ios-package" value="CDVAmr" />
            </feature>
        </config-file>
        
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCalendarsUsageDescription">
            <string>Some ad content may access calendar</string>
        </config-file>

        <config-file target="*-Info.plist" parent="AppLovinSdkKey">
            <string>YOUR_KEY</string>
        </config-file>
        
        <header-file src="src/ios/CDVAmr.h" />
        <source-file src="src/ios/CDVAmr.m" />
        
        <framework src="AMRAdapterAdmob" type="podspec" spec="~> 7.31" />
        <framework src="AMRAdapterApplovin" type="podspec" spec="~> 5.0" />
        <framework src="AMRAdapterFacebook" type="podspec" spec="~> 4.28" />
        <framework src="AMRAdapterMopub" type="podspec" spec="~> 5.0" />
        <framework src="AMRAdapterIronsource" type="podspec" spec="~> 6.7" />
        <framework src="AMRAdapterTapjoy" type="podspec" spec="~> 11.12" />
        <framework src="AMRAdapterUnity" type="podspec" spec="~> 2.2" />        
    </platform>
</plugin>
